################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ecommerceplatform.client/.vscode
/ecommerceplatform.client/obj/
/ECommercePlatform.Server/bin/
/ECommercePlatform.Server/obj/
